package components

templ Github() {
	<a href="https://github.com/dartt0n/unotone" class="button is-white">
		<span class="icon">
			<i class="fa fa-github"></i>
		</span>
		<span>Github</span>
	</a>
}
